node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
.CFUserTextEncoding
.bash_history
.zsh_history

# macOS system files
.DS_Store
.CFUserTextEncoding
.bash_history
.zsh_history
.zsh_sessions/

# IDE and config files
.atom/
.vscode/
.npm/
.nvm/
.ssh/

# Specific directories to ignore
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/